.article__header.small-image-layout {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 60px;
    height: auto;
    display: block;
  }

  .header-text {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
      font-size: 1.2rem;
    }

    p {
      margin: 2px 0 0 0;
    }
  }
}

.article__content {
  figure {
    margin: 1rem 0;
    width: 100%;
    max-width: 100%;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    figcaption {
      font-size: 0.85rem;
      margin-top: 0.25rem;
    }
  }

  h3 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }

  .article__author {
  border-top: 1px solid #ccc;   // ligne grise au-dessus
  border-bottom: 1px solid #ccc; // ligne grise en dessous
  padding: 0.75rem 0;
  color: #555;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 5rem 0 5rem;   // mêmes marges que le main>section

  &::after { // icône œil à droite
    font-style: normal;
    margin-left: 0.5rem;
  }
}



  .dropcap {
    font-size: 8rem;
    color: rgb(198, 124, 6);
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 0.1em;
  }

  h3 {
    color: #8c6f3f;
  }
}
