@import 'variables';

.cartes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-size;
    padding: 1rem;
    max-width: 1300px;
    margin: 0 auto;

    .article_image {
        width: 100%;
        max-width: 500px;
        text-align: center;

        .article_image>img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 4px;
            margin: 0 auto;
        }
    }
}


@media screen and (min-width: $breakpoint-desktop) {
    .cartes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: $gap-size;
    }

    .cartes .article_image {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 350px;
        flex: 0 1 calc(25% - (3 * #{$gap-size} / 4) - 0.5px);
        flex-grow: 0;
        min-width: 0;
        box-sizing: border-box;
        text-align: center;
    }
}